h3, h4 {
	font-family: Arial;
}

table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}

th, td {
	text-align: left;
}



nav {
	display: block;
	background: black;
	height: 60px;
}

button {
	background-color: #3dc2b1; /* Green */
	border: none;
	color: white;
	padding: 15px 15px;
	text-align: center;
	font-size: 16px;
	font-style: Arial;
}

.left {
	margin: auto;
	width: 50%;
}

.right {
	margin: auto;
	width: 50%;
}

.center {
	margin: auto;
	width: 80%;
	padding: 5px;
}
